<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link href='css/styles.css' rel='stylesheet' />
  </head>
  <body>
    <h1>hello</h1>
    {{data.title}}
    {{data.copyright}}
    {{! 변수를 받을 수 있음  }}
    <script src='js/scripts.js'></script>
  </body>
</html>